@model ISHealthMonitor.Core.Models.DTO.CertificateDTO

<div class="row">
    <div class="col-sm-6 mainContentWrapper">
        <div class="well">
            @using (Html.BeginForm("AddEditSite", "Home", FormMethod.Post, new { role = "form" }))
            {
                <fieldset>
                    @Html.AntiForgeryToken()
                    <h4>Add Site</h4>
                    <hr />

                    <section>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SiteName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SiteURL, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.SiteURL, new {type = "url", @class = "form-control" })
                        </div>

                      
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            <input type="submit" class="btn btn-secondary" value="Create WorkOrder" />
                        </div>
                    </section>
                </fieldset>
            }
        </div>
    </div>
   
</div>

