<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISHealthMonitor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrapV5/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/selectize.bootstrap2.css" />
    <link rel="stylesheet" href="~/css/animate.min.css"  />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />

    <script src="https://kit.fontawesome.com/b38e3673b1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ISHealthMonitor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sites" asp-action="Index">All Sites</a>
                        </li>

                        @{
                            bool isAdmin = ViewData.ContainsKey("UserIsAdmin") && bool.TryParse(ViewData["UserIsAdmin"].ToString(), out bool isAdmin2) && isAdmin2;
                            string displayName = ViewData["UserName"].ToString() + (isAdmin ? " (admin)" : "");
                        }
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reminders" asp-action="Index">All Reminders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ReminderIntervals" asp-action="Index">All Intervals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">All Users</a>
                            </li>
                        }
                        

                        <li class="nav-item ml-auto">
                            @if (isAdmin)
                            {
                                <a href="#" class="nav-link text-dark" onclick="showAdminModal()">@Html.Raw(displayName)</a>
                            }
                            else
                            {
                                <span class="nav-link text-dark">@Html.Raw(displayName)</span>
                            }
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">

        <div id="adminModal" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <b>Admin Actions</b>
                    </div>

                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <button onclick="FireReminders()" type="button" class="btn btn-danger btn-block mt-3">
                                    <i id="spinnerFireReminders" class="fa fa-spinner fa-spin d-none"></i> Fire Reminders
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <button onclick="RefreshCerts()" type="button" class="btn btn-info btn-block mt-3">
                                    <i id="spinnerRefreshCerts" class="fa fa-spinner fa-spin d-none"></i> Update Certs
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <button onclick="UpdateConfluence()" type="button" class="btn btn-warning btn-block mt-3">
                                    <i id="spinnerUpdateConfluence" class="fa fa-spinner fa-spin d-none"></i> Update Confluence
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">

                        <div id="alertFireReminders" class="alert alert-danger d-block d-none" role="alert"></div>

                        <div id="alertRefreshCerts" class="alert alert-info d-block d-none" role="alert"></div>

                        <div id="alertUpdateConfluence" class="alert alert-warning d-block d-none" role="alert"></div>
                            

                    </div>
                </div>
            </div>
        </div>



        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ISHealthMonitor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrapV5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/js/selectize.js" asp-append-version="true"></script>
    <script src="~/js/ConfigurationForm.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/js/chosen/chosen.css" rel="stylesheet" type="text/css" />
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />

    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script type="text/javascript" language="javascript" src="//nightly.datatables.net/buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="//nightly.datatables.net/buttons/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="//nightly.datatables.net/buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="//nightly.datatables.net/buttons/js/buttons.print.min.js"></script>


    <script src="~/js/AddEditForms.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>


    
</html>


<script>
    function showAdminModal(id) {
        $('#adminModal').modal('show');
    }

    function FireReminders() {
        $('#spinnerFireReminders').removeClass('d-none');

        $.ajax({
            type: "GET",
            url: '/api/boomi/firereminders',
            async: true,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false
        }).done(function (data) {
            var json = JSON.parse(data);
            console.log(json);
            $('#alertFireReminders').removeClass('d-none').text('Successfully sent reminders!');
        }).fail(function (error) {
            console.log('Error:', error);
            $('#alertFireReminders').removeClass('d-none').text('Failed to send reminders :(');
        }).always(function () {
            $('#spinnerFireReminders').addClass('d-none');
        });
    }

    function RefreshCerts() {
        $('#spinnerRefreshCerts').removeClass('d-none');

        $.ajax({
            type: "GET",
            url: '/api/boomi/refreshcerts',
            async: true,
            cache: false,
            contentType: 'application/json',
            processData: false
        }).done(function (data) {
            console.log(data);
            if (data.message === "Success") {
                $('#alertRefreshCerts').removeClass('d-none').text('Successfully refreshed certificates!');
            }
            else if (data.message === "Failed") {
                var failedUrlCount = Object.keys(data.failedSiteUrls).length;

                $('#alertRefreshCerts').removeClass('d-none').text('Successfully refreshed some certificates (' + failedUrlCount + ' failed)');

            }
            
        }).fail(function (error) {
            console.log('Error:', error);
            $('#alertRefreshCerts').removeClass('d-none').text('Failed to refresh certificates :(');
        }).always(function () {
            $('#spinnerRefreshCerts').addClass('d-none');
        });
    }

    function UpdateConfluence() {
        $('#spinnerUpdateConfluence').removeClass('d-none');

        $.ajax({
            type: "GET",
            url: '/api/boomi/updateconfluence',
            async: true,
            cache: false,
            contentType: 'application/json',
            processData: false
        }).done(function (data) {
            console.log(data);
            $('#alertUpdateConfluence').removeClass('d-none').text('Successfully updated the Confluence page!');
        }).fail(function (error) {
            console.log('Error:', error);
            $('#alertUpdateConfluence').removeClass('d-none').text('Failed to update the Confluence page :(');
        }).always(function () {
            $('#spinnerUpdateConfluence').addClass('d-none');
        });
    }

</script>